tensorflow~=1.12
matplotlib~=3.0
pytz
cptv==1.1.0
opencv-python~=3.4
numpy~=1.16
scipy~=1.2
python-dateutil
sklearn
tables~=3.4
h5py~=2.7
pyyaml>=4.2b1
pillow~=5.4
attrs~=19.1
filelock~=3.0.12
Astral~=1.10.1
timezonefinder~=4.1.0
pydbus~=0.6.0
PyGObject~=3.34.0
