tensorflow==2.5.0
matplotlib~=3.0
pytz
cptv~=1.5.1
opencv-contrib-python-headless~=4.5.1.48
numpy~=1.18.5
scipy==1.4.1
python-dateutil
sklearn
tables~=3.4
h5py~=2.7
pyyaml>=4.2b1
pillow~=6.2.0
attrs~=19.1
filelock~=3.0.12
Astral~=1.10.1
timezonefinder~=4.1.0
portalocker~=1.5.2
toml~=0.10.0
cacophonyapi
psutil~=5.6.7
#used when running on the pi (Still under construction)
#pydbus~=0.6.0
#PyGObject~=3.34.0
