classify:
  meta_to_stdout: True
  models:
    - id: 2
      name : "WR"
      model_file: "/etc/cacophony/models/wr/saved_model.pb"
      thumbnail_model: True
tracking:
  thermal:
    filters:
      track_min_offset: 0
      min_duration_secs: 0.0
  ir:
    filters:
      track_min_offset: 0
      min_duration_secs: 0.5
