[Unit]
Description=Cacophony Project classifier service
After=network.target

[Service]
ExecStart=/usr/bin/classifier-pipeline.pex -m classifyservice
Restart=on-failure

[Install]
WantedBy=multi-user.target
